@import url(https://fonts.googleapis.com/css?family=Bangers);

.card-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: auto;
  background-image: radial-gradient(
      ellipse farthest-corner,
      transparent 0%,
      transparent 35%,
      #fff 30%,
      #fff 40%,
      transparent 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    linear-gradient(
      40deg,
      #bd2d10 0,
      #f4502f 30%,
      #ff6e51 50%,
      #f4502f 70%,
      #bd2d10 100%
    );
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1280px;
}
.searchbar button {
  width: 200px;
  height: 100px;
  margin: 15px;
  padding: 0 5px;
  float: right;
  background: #ddd;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
  font-family: "Bangers", cursive;
  cursor: pointer;
}
.searchbar input {
  height: 100px;
  width: 300px;
  margin: 15px;
  padding: 0 5px;
  float: right;
  background: #ddd;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
  font-family: "Bangers", cursive;
  cursor: pointer;
  text-align: center;
}
.noresults {
  font-family: "Bangers", cursive;
  font-size: x-large;
  background-image: white;
}
