@import url(https://fonts.googleapis.com/css?family=Bangers);
.mainCharacteresComics {
  font-family: "Bangers", cursive;
}
.ListComics {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 700px;
  overflow-x: scroll;
  height: 400px;
  cursor: pointer;
}
.ListComics img {
  margin: 10px;
  margin-top: 10px;
}
.mainCharacteresComics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.li-comics {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
