@import url(https://fonts.googleapis.com/css?family=Bangers);

.maindetailscharac {
  font-family: "Bangers", cursive;
  display: flex;
  justify-content: center;
}
.descriptioncharac {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.descriptioncharac img {
  width: 150px;
  height: 230px;
}
