@import url(https://fonts.googleapis.com/css?family=Bangers);
.wrapper-home {
  display: flex;
  justify-content: center;
  height: 1080px;
  justify-content: space-around;
  background-image: radial-gradient(
      ellipse farthest-corner,
      transparent 0%,
      transparent 35%,
      #fff 30%,
      #fff 40%,
      transparent 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      transparent 0%,
      transparent 20%,
      #fff 15%,
      #fff 20%,
      transparent 50%
    ),
    linear-gradient(
      40deg,
      #bd2d10 0,
      #f4502f 30%,
      #ff6e51 50%,
      #f4502f 70%,
      #bd2d10 100%
    );
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}
.twitter {
  width: 200px;
}
h1 {
  margin-top: 20px;
  font-family: "Bangers", cursive;
  width: 500px;
}

.youtube {
  margin-top: 200px;
  height: 500px;
  width: 400px;
}
